# Import all packages listed as Imports or Depends

useDynLib(stepp)

import(
  methods,
  car,
  survival,
  splines
)

export(	stepp,
       	stepp_summary,
       	stepp_print,
       	stepp_plot,
	analyze.KM.stepp,
	analyze.CumInc.stepp,
	summary,
	print,
	plot,
	generate,
	estimate,
	test,
	stepp.win,
	stepp.subpop,
	stepp.KM,
	stepp.COX,
	stepp.CI,
	stepp.GLM,
	stepp.test
)


exportClass(
	stwin,
	stsubpop,
	stmodelKM,
	stmodelCOX,
	stmodelCI,
	stmodelGLM,
	stmodel,
	steppes
)